body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.container {
  border: 2px solid #333;
  padding: 1rem 3rem;
  margin: 1rem;
  text-align: center;
}
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
